@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

:root{
    --main-color:rgb(237 20 241 / 68%);  
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

.submitIcone{
    background-color: white;
    border: solid 1px;

}
.submitIcone:hover{
    background-color: var(--main-color);
    color: white;
    border: 0;
}